{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Люди</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--    <script src="{% static 'js/script.js' %}"></script>-->
</head>
<body>
     <header>
         <a href="{% url 'people_create' %}" class="add-button">+ Добавить профиль</a>
        <h1>Профили людей</h1>
    </header>
     <div class="profiles-container">
        <!-- Профиль -->
         {% for p in people %}
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-avatar">ИИ</div>
                <div class="profile-info">
                    <h2>{{ p.first_name }} {{ p.last_name }}</h2>
                </div>
            </div>
            <div class="profile-details">
                <p><strong>Email: </strong> {{ p.email }}</p>
                <p><strong>Телефон: </strong> {{ p.phone_number }}</p>
                <p><strong>Отдел:</strong> Разработка</p>
            </div>
            <div class="profile-actions">
                <a href="{% url 'people_detail' p.people_id %}" class="btn btn-view">Посмотреть</a>
                <a href="{% url 'people_edit' p.people_id %}" class="btn btn-edit">Изменить</a>
                <a href="{% url 'people_delete' p.people_id %}" class="btn btn-delete">Удалить</a>
            </div>
        </div>
     {% endfor %}
     </div>
</body>
</html>